
.normal {
    background-image: url(../images/normal-type.png);
    background-position: center;
    background-size: cover;
} 

.fire {
    background-image: url(../images/fire-type.png);
    background-position: center;
    background-size: cover;
} 

.water {
    background-image: url(../images/water-type.png);
    background-position: center;
    background-size: cover;
} 

.electric {
    background-image: url(../images/electric-type.png);
    background-position: center;
    background-size: cover;
} 

.grass {
    background-image: url(../images/grass-type.png);
    background-position: center;
    background-size: cover;
} 

.ice {
    background-image: url(../images/ice-type.png);
    background-position: center;
    background-size: cover;
} 

.fighting {
    background-image: url(../images/fighting-type.png);
    background-position: center;
    background-size: cover;
} 

.poison {
    background-image: url(../images/poison-type.png);
    background-position: center;
    background-size: cover;
} 

.ground {
    background-image: url(../images/ground-type.png);
    background-position: center;
    background-size: cover;
} 

.flying {
    background-image: url(../images/flying-type.png);
    background-position: center;
    background-size: cover;
} 

.psychic {
    background-image: url(../images/physic-type.png);
    background-position: center;
    background-size: cover;
} 

.bug {
    background-image: url(../images/bug-type.png);
    background-position: center;
    background-size: cover;
} 

.rock {
    background-image: url(../images/rock-type.png);
    background-position: center;
    background-size: cover;
} 

.ghost {
    background-image: url(../images/ghost-type.png);
    background-position: center;
    background-size: cover;
} 

.dragon {
    background-image: url(../images/dragon-type.png);
    background-position: center;
    background-size: cover;
} 

.dark {
    background-image: url(../images/dark-type.png);
    background-position: center;
    background-size: cover;
} 

.steel {
    background-image: url(../images/steel-type.png);
    background-position: center;
    background-size: cover;
} 

.fairy {
    background-image: url(../images/fairy-type.png);
    background-position: center;
    background-size: cover;
} 

/* Créditos de Arte: https://www.deviantart.com/elbarnzo */